*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}

/* vh means viewport height mtlb hmare pure page ka 70 percent space lega hum jitna chaae utna content likh skte hai */
.container{
    height: 70vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* vmin: 1% of the viewport's smaller dimension. flex krne sai saare box ache sai arrange ho jaate hai  flex wrap ussee multiple lines mai arrange
kr dete hai*/
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    align-items: center;
    justify-content: center;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 8vmin;
    color: #b0413e;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0.3);
    background-color: azure;
}
#reset{
    padding:1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
}
#newGame{
    padding:1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
}

#msg{
    color: white;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}